.NotesContainer {
  margin-top: 57px;
}

.NotesListPage-container .NotesListPage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.NotesListPage-container .NotesListPage-header span {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: rgb(75, 75, 75);
}

.SingleNote-root,
.SingleNotePage-root {
  display: flex;
  padding: 12px 18px;
  background-color: #eaeaea;
  margin-bottom: 32px;
}

.SingleNote-root:last-child {
  margin-bottom: 0;
}

.SingleNote-root .SingleNote-text-container,
.SingleNotePage-root .SingleNotePage-text-container {
  display: flex;
  flex-direction: column;
}

.SingleNote-root .SingleNote-text-container {
  width: calc(100% - 150px);
}

.SingleNotePage-root .SingleNotePage-text-container {
  width: 100%;
}

.SingleNote-root .SingleNote-text-container .SingleNote-text,
.SingleNotePage-root .SingleNotePage-text-container .SingleNotePage-text {
  color: rgb(100, 100, 100);
}

.SingleNote-root .SingleNote-text-container .SingleNote-date,
.SingleNotePage-root .SingleNotePage-text-container .SingleNotePage-date {
  color: rgb(100, 100, 100);
}

.SingleNotePage-root .SingleNotePage-text-container .SingleNotePage-date {
  align-self: flex-end;
}

.SingleNote-root .SingleNote-text-container .SingleNote-date a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.SingleNote-root .SingleNote-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

.SingleNotePage-buttons {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  width: 100%;
}

.NoteCreator-root {
  display: flex;
  flex-direction: column;
}

.NoteCreator-root .NoteCreator-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.NoteCreator-root textarea {
  resize: none;
  width: calc(100% - 14px);
}
