body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 12px 6px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(193, 193, 193);
  border-radius: 0.25rem;
}

textarea:focus,
textarea:focus-visible {
  border-color: #c1c1c1;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(193, 193, 193, 50%);
}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn-light {
  color: #000;
  background-color: rgb(255, 255, 255);
  border-color: rgb(193, 193, 193);
}

button.btn-light:hover,
button.btn-light:focus {
  color: #000;
  background-color: rgb(248, 249, 250);
  border-color: rgb(193, 193, 193);
}

button.btn-light:focus {
  box-shadow: 0 0 0 0.25rem rgb(193, 193, 193, 50%);
}

button.btn-danger {
  color: rgb(255, 255, 255);
  background-color: rgb(220, 53, 69);
  border-color: rgb(220, 53, 69);
}

button.btn-danger:hover,
button.btn-danger:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(187, 45, 59);
  border-color: rgb(176, 42, 55);
}

button.btn-danger:focus {
  box-shadow: 0 0 0 0.25rem rgb(176, 42, 55, 50%);
}
